.header, .usefull-articles-wrap, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #18181b;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slick-list {
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slick-slide {
  margin: 0 15px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 40px;
  height: 40px;
  background: url("../../../assets/icons/faq-arrow.svg") no-repeat;
  background-color: #34B86E;
  background-position: center;
  font-size: 0;
}

.content,
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1141px;
}

@media (max-width: 1232px) {
  .content,
  .header {
    width: 552px;
  }
}

@media (max-width: 578px) {
  .content,
  .header {
    width: 320px;
  }
}

.header {
  margin: 0 auto;
  margin-top: 10px;
}

.header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 1232px) {
  .header .content {
    width: 531px;
  }
}

@media (max-width: 578px) {
  .header .content {
    width: 100%;
  }
}

.header .content .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .content .header-logo__svg {
  width: 91px;
  height: 76px;
  background: url("../../../assets/icons/main-ico.svg"), no-repeat;
}

.header .content .header-logo__name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14.05px;
  line-height: 13.27px;
  width: 112px;
  color: #FFFFFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .content .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.2px;
}

.header .content .header-nav > li {
  list-style: none;
  margin-right: 45px;
}

.header .content .header-nav > li a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.header .content .header-nav > li a:hover {
  color: #34B86E;
}

.header .content .header-nav .current-menu-item a {
  color: #34B86E !important;
  border-bottom: 1px solid #34B86E;
}

@media (max-width: 1232px) {
  .header .content .header-nav {
    display: none;
  }
}

.header .back-call {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  border-style: none;
  color: #FFFFFF;
  outline: none;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 12px 16px 13px;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.header .back-call:hover {
  background-color: #34B86E;
}

@media (max-width: 578px) {
  .header .back-call {
    display: none;
  }
}

.header__burger {
  display: block;
  position: relative;
  width: 36px;
  height: 31px;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background: url("../../../assets/icons/burger-menu.svg"), no-repeat;
}

.usefull-articles-wrap {
  padding: 33px 0 74px;
}

.usefull-articles-wrap .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #FFFFFF;
  height: 100%;
}

.usefull-articles-wrap .content .usefull-articles-title {
  font-family: "RoadRadio";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30.27px;
  border-left: 6px solid #34B86E;
  padding-left: 9px;
  margin-bottom: 54px;
}

@media (max-width: 1232px) {
  .usefull-articles-wrap .content .usefull-articles-title {
    font-family: "RoadRadio";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
  }
}

.usefull-articles-wrap .content .usefull-articles-slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 100%;
  position: relative;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 19px;
}

@media (max-width: 1232px) {
  .usefull-articles-wrap .content .usefull-articles-slider {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

.usefull-articles-wrap .content .usefull-articles-slider .usefull-articles-block {
  text-align: left;
  background-color: #101010;
  width: 358px;
  height: 395px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1232px) {
  .usefull-articles-wrap .content .usefull-articles-slider .usefull-articles-block {
    width: 100%;
  }
}

.usefull-articles-wrap .content .usefull-articles-slider .usefull-articles-block__img {
  border: 3px solid #34B86E;
  width: 98%;
  height: 235px;
}

.usefull-articles-wrap .content .usefull-articles-slider .usefull-articles-block__title {
  font-family: "RoadRadio";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18.16px;
  color: #34B86E;
  margin: 28px 22px 15px;
}

.usefull-articles-wrap .content .usefull-articles-slider .usefull-articles-block .data-and-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 170px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  margin-left: 44px;
  margin-bottom: 28px;
}

.usefull-articles-wrap .content .usefull-articles-slider .usefull-articles-block .data-and-views__data::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../../../assets/icons/data.svg"), no-repeat;
  -webkit-transform: translate(-23px, -4px);
          transform: translate(-23px, -4px);
}

.usefull-articles-wrap .content .usefull-articles-slider .usefull-articles-block .data-and-views__views::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 18px;
  background: url("../../../assets/icons/views.svg"), no-repeat;
  -webkit-transform: translate(-27px, -4px);
          transform: translate(-27px, -4px);
}

.usefull-articles-wrap .content .usefull-articles-slider .usefull-articles-block__btn {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.14px;
  border-bottom: 1px solid #FFFFFF;
  cursor: pointer;
  -webkit-transition: color .2s;
  transition: color .2s;
  font-family: "RoadRadio";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16.14px;
  color: #FFFFFF;
  border-color: #FFFFFF;
  margin-bottom: 27px;
  margin-left: 22px;
  margin-right: 22px;
}

.usefull-articles-wrap .content .usefull-articles-slider .usefull-articles-block__btn:hover {
  color: rgba(255, 255, 255, 0.8);
}

.usefull-articles-wrap .content .usefull-articles-slider .slick-prev {
  right: 400px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -84px;
}

@media (max-width: 1232px) {
  .usefull-articles-wrap .content .usefull-articles-slider .slick-prev {
    right: 110px;
  }
}

.usefull-articles-wrap .content .usefull-articles-slider .slick-next {
  right: 326px;
  top: -84px;
}

@media (max-width: 1232px) {
  .usefull-articles-wrap .content .usefull-articles-slider .slick-next {
    right: 36px;
  }
}

.footer {
  height: 600px;
}

@media (max-width: 1232px) {
  .footer {
    height: 996px;
  }
}

.footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
  height: 100%;
}

@media (max-width: 1232px) {
  .footer .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer .content .contacts {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.2px;
}

@media (max-width: 1232px) {
  .footer .content .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 578px) {
  .footer .content .contacts {
    width: 100%;
  }
}

.footer .content .contacts__title {
  font-family: "RoadRadio";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30.27px;
  border-left: 6px solid #34B86E;
  padding-left: 9px;
  margin-bottom: 41px;
  margin-top: 28px;
}

@media (max-width: 1232px) {
  .footer .content .contacts__title {
    font-family: "RoadRadio";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    width: 520px;
    margin-bottom: 28px;
  }
}

.footer .content .contacts__address {
  margin-bottom: 26px;
}

.footer .content .contacts__phone {
  margin-bottom: 26px;
}

@media (max-width: 578px) {
  .footer .content .contacts__phone {
    margin-right: 7px;
  }
}

.footer .content .contacts__mail {
  margin-bottom: 59px;
}

@media (max-width: 1232px) {
  .footer .content .contacts__mail {
    margin-bottom: 0;
  }
}

@media (max-width: 578px) {
  .footer .content .contacts__mail {
    margin-bottom: 26px;
  }
}

.footer .content .contacts .contacts-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "RoadRadio";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20.18px;
}

.footer .content .contacts .contacts-social-links > li {
  list-style: none;
  margin-right: 51px;
}

.footer .content .contacts .contacts-social-links > li a {
  cursor: pointer;
}

.footer .content .contacts .contacts-social-links > li a:hover {
  color: #34B86E;
}

@media (max-width: 1232px) {
  .footer .content .contacts .contacts-social-links > li:nth-child(3) {
    margin-right: 0;
  }
}

@media (max-width: 1232px) {
  .footer .content .contacts .contacts-social-links {
    font-family: "RoadRadio";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}

.footer .content .map-salon {
  position: absolute;
  right: 5px;
}

@media (max-width: 1232px) {
  .footer .content .map-salon {
    position: relative;
    display: block;
    width: 557px;
    margin-top: 44px;
  }
}

@media (max-width: 578px) {
  .footer .content .map-salon {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */