body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: $bg-color;
    overflow-x: hidden;

    &.lock {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
ul {
    margin: 0;
    padding: 0;
}

img {
    object-fit: cover;
}

button {
    outline: none;
}

.slick-track {
    display: flex;
    position: relative;
    justify-content: space-between;

}

.slick-list {
    overflow: hidden;
    justify-content: space-between;
    //margin-left: -30px;
    // margin-right: -30px;

}

.slick-slide {
    margin: 0 15px;
    outline: none;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 40px;
    height: 40px;
    background: url('../icons/faq-arrow.svg') no-repeat;
    background-color: $main-color;
    background-position: center;
    font-size: 0;
    border: 1px solid $bg-color;

    transition: background-color .2s;

    &:hover {
        background-color: rgba($color: $main-color, $alpha: 0.9);
    }
}

.content,
.header {
    @include flex-container();
    width: $width-content;

    @media (max-width: $desktop-max-width) {
        width: $width-desktop-content;
    }

    @media (max-width: $mobile-max-width) {
        width: $width-mobile-content;
    }

}