$main-color: #34B86E;
$second-color: #FFFFFF;
$bg-color: #18181b;
$card-color: #101010;

$width-content: 1141px;
$width-desktop-content: 552px;
$width-mobile-content: 320px;

$desktop-max-width: 1232px;
$tablet-max-width: 992px;
$mobile-max-width: 578px;